
@import "Styles/Abstract/Variables for colours.CSS";
@import "Styles/Base/Reset.css";
@import "Styles/layout/Navigation.css";


/*
The class for the nav bar
*/
/* .nav{
} */
/*
Code for the list
*/
/* li {
  float: left;
	border:thick;
	border-color:#F7ECE1;
}


ul {
  list-style-type: none;
  margin: 90;
  padding: 90;
  overflow: hidden;

	background-color:var(--white);

}
body{
	background-color: #F7ECE1;
}
li a {
  display: block;
  color:var(--dark-brown-color);
  background-color:var(--white);
  padding: 2px 70px;
  text-decoration: none;
}

li a:hover {
  background-color:var(--Deep-brown-color);
} */

.current {
  background-color:var(  --light-brown-color);
}

header{
background-color:var(--white);
color:var(--dark-brown-color);
padding: 10px 10px;
font-size: 30px;
text-align: center;

}

.quote{
	color: var( --dark-brown-color);
	font-size: 38px;
	margin-top: 2%;
font-family: "Times New Roman";
text-align: center;
}


.section1{
	background-color: rgba(247,235,200,.7);
	color:var(--Deep-brown-color);
	align:center;
	padding-bottom: 400px;
	font-size:  20px;
		max-width: 100%;
		max-height: 100%;
		margin-top: 120px;
}



.education{
	color:  var(--dark-green-color);
}
