
.nav{

}

li {
  display: inline-block;
	border:thick;
	border-color:#F7ECE1;
}



ul {
  list-style-type: none;
  overflow: hidden;
	background-color:var(--white);
  text-align:center;
}

li a {
  display: block;
  color:var(--dark-brown-color);
  background-color:var(--white);
  padding: 2px 70px;
  text-decoration: none;
}

li a:hover {
  background-color:var(--Deep-brown-color);
}
