

li {
	border-color:#F7ECE1;
  display:inline;
  /* float:left; */
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color:var(--white);
  text-align:center;
	/* margin-left: 23%; */

}

li a {
  display:inline-block;
  color:var(--dark-brown-color);
  /* background-color:var(--white); */
  padding: 1px;
  text-decoration: none;
	font-size:15px;
	font-family: 'Playfair Display SC', serif;
}

.navbackground{
  background-color:var(--white);
}
li:hover {
  background-color:var(--Deep-brown-color);
}
.current:hover{
background-color:var(--Deep-brown-color);
}
.current {
  background-color:var(--light-brown-color);
}


}
