.current {
  background-color:var(  --light-brown-color);
}

header{
 background-color:var(--white);
color:var(--dark-brown-color);
padding: 10px 10px;
font-size: 30px;
text-align: center;
font-family: 'Playfair Display SC', serif;
}

.quote{
	color: var( --dark-brown-color);
	font-size: 38px;
	margin-top: 2%;
  font-family: "Times New Roman";
  text-align: center;
  padding-left: 9%;
  padding-right: 9%;
}


.learning:hover{
  color: var(--white);
}


.section1{
	background-color: rgba(247,235,200,.7);
	color:var(--Deep-brown-color);
	align:center;
	padding-bottom: 400px;
	font-size:  20px;
		max-width: 100%;
		max-height: 100%;
		margin-top: 120px;
}

.learning{
	color:  var(--dark-green-color);
}

footer{
 background-color:var(--white);
height:50px;
 margin-top: 150px;
}

.Deji{
  color: var(--dark-brown-color);
}
