/* This is the media import for the text on the home page */
@media only screen and (max-width: 768px) {
  .quote {
    font-size: 30px;
  }
}

/* This is the media import for the quote on the main page*/
@media only screen and (max-width:411px) {
  .quote {
    font-size: 28px;
  }
}

/* These are the media imports for the about page images mobile */
@media (max-width:1100px) {
  .slideshow-container {
    display: none;
  }

  .map {
    display: none;
  }

  .nav {
    display: none;
  }
}

/* This is the removal of the nav bar for the about Page */
@media (min-width:1100px) {
  .dropdown {
    display: none;
  }
}

/* This is the media import for the about page mobile scaling */
@media (min-width:600px) {
  .background1 {
    margin-left: 140px;
    margin-right: 130px;
  }
}

/* This is the change to the current life image and the margin on the phone */
@media (max-width:800px) {
  .currentlife {
    margin-left: 140px;
  }

  .background1 {
    margin-top: 300px;
  }
}

@media (min-width:1010px) {
  .currentlife {
    margin-left: 260px;
  }
}
/* This adjust's several iteams on the contact me page for ipad */
@media (max-width:1025px) {
  .table {
    background-color: var(--white);
    margin-top: 10%;
    padding-left: 7%;
  }
  .contact{
    margin-right: 9%;
  }
  .facecontact {
    margin-top: 4%;

    padding-bottom:8%;
  }

  .snapcontact {
    margin-top: 4%;
    padding-bottom:8%;
  }

  .instacontact {
    margin-top: 4%;
    padding-bottom:8%;
  }
  .redcontact{
    margin-top: 4%;
    padding-bottom:8%;
  }
  .discordcontact{
    margin-top: 4%;
    padding-bottom:1%;
  }
  .email{
    margin-top: 4%;
    padding-bottom:1%;
  }
 }

 /* This ajust's the title of the contact me page on the iphone */
 @media (max-width:500px) {
   .contact{
     margin-right:1%;
   }
 }

/* This shifts the current life image to the phone */
@media (max-width:600px) {
  .currentlife {
    margin-left: 27%;
  }
}

/* Shifting the current life image on the iphone screen */
@media (max-width:400px) {
  .currentlife {
    margin-left: 22%;
  }
}

/* This is the shifting of the current life images to the left on pc screen */
@media (min-width:1200px) {
  .currentlife {
    margin-left: 22%;
  }
}
/* Method to display the projects and mobile and ipad */
@media (min-width:1200px) {
  .mobiledig{
    display: none;
}
}
@media (max-width:500px) {
.experience1{
  font-size: 20px;

}
}
