
/* This is the media import for the text on the home page */
@media only screen and (max-width: 768px) {
    .quote {
            font-size: 30px;
    }
}

/* This is the media import for the quote on the main page*/
@media only screen and (max-width:411px) {
    .quote {
            font-size: 28px;
    }
}

/* These are the media imports for the about page images mobile */
@media (max-width:1100px) {
	.slideshow-container {
		display: none;
	}
	.map{
		display:none;
	}

  .nav{
    display:none;
  }
}
/* This is the removal of the nav bar for the about Page */

@media (min-width:1100px) {
  .dropdown{
    display: none;
  }
}

/* This is the media import for the about page mobile scaling */
@media (min-width:600px){
.background1{
  margin-left: 140px;
  margin-right: 130px;
}
}

@media (max-width:800px){
.currentlife{
margin-left:140px;
}
.background1{
  margin-top: 300px;
}
}
@media (min-width:1010px){
.currentlife{
margin-left:260px;
}
}
