
/*
These are the variables for the colour in the Homepage
*/
:root {
  --dark-brown-color:#9B803C;
  --light-brown-color:#F9D690;
  --white:#F4F1ED;
  --dark-green-color:#60683E;
  --lighter-brown-color:#F7EBC8;
  --Deep-brown-color:#261F0E
}
